.inline {
  display: inline;
}

.imageBox {
  z-index: 900;
}

.feedImage {
  height: 20vh;
  width: auto;
}

/*/// FEED IMAGE INFO ON HOVER //*/
.caption {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.caption__media {
    /*display: block;*/
    min-width: 100%;
    max-width: 100%;
    height: 32vh;

}

.caption__media:hover {
    opacity: 0.3;
}

.caption__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: black;
    transform: translateY(100%);
    transition: transform .35s ease-out;
}
.caption:hover .caption__overlay {
    transform: translateY(0);
}

/*///////////*/

.circle-image {
  border-radius: 50%;
}

.profile-title {
  padding-left: 10px;
}

/*listings input*/
.inputdemoErrors .inputErrorsApp {
  min-height: 48px; }

/*user feed*/
.userfeed md-grid-list {
  margin: 8px; }

.userfeed md-grid-tile {
  transition: all 400ms ease-out 50ms; }

/*ANGULAR MATERIAL*/
.md-button.md-fab {
  line-height: 5.6rem;
  min-width: 0;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

md-sidenav.md-locked-open {
  width: 250px !important;
  min-width: 250px !important;
  max-width: 250px !important;
}

/*Add New Item Input */
.inputdemoBasicUsage .md-datepicker-button {
  width: 36px; }

/*POPUP ADD ITEM*/
.dialogdemoBasicUsage #popupContainer {
  position: relative;
}

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px;
}

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px;
}
