.view {
  width: 100%;
  height: 100%;
}

.md-padding {
  padding: 0;
  margin: 0;
}

.inline {
  display: inline;
}

.myFeed {
  height:auto;
  width: 20vw;
}

/*/// FEED IMAGE INFO ON HOVER //*/
.caption {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.caption__media {
    height:auto;
    width: 19.3vw;
    margin-left: 0.3em;
    margin-right: 0.3em;
    margin-top: 0.3em;
}

.caption__media:hover {
    opacity: 0.3;
}

.caption__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: black;
    transform: translateY(100%);
    transition: transform .35s ease-out;
}
.caption:hover .caption__overlay {
    transform: translateY(0);
}

/*///////////*/

/*FEED MEDIA SIZING*/
@media only screen and (max-width : 1380px) {
  .caption__media {
      height:auto;
      width: 19.3vw;
      margin-left: 0.2em;
      margin-right: 0.2em;
      margin-top: 0.2em;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .caption__media {
      height:auto;
      width: 24vw;
      margin-left: 0.2em;
      margin-right: 0.2em;
      margin-top: 0.2em;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .caption__media {
      height:auto;
      width: 32vw;
      margin-left: 0.2em;
      margin-right: 0.2em;
      margin-top: 0.2em;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .caption__media {
      height:auto;
      width: 49vw;
      margin-left: 0.1em;
      margin-right: 0.1em;
      margin-top: 0.1em;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .caption__media {
      height:auto;
      width: 100vw;
  }
}

/*END FEED MEDIA SIZING*/
.circle-image {
  border-radius: 50%;
  width: auto;
  height: 6vh;
}

.profile-title {
  padding-left: 10px;
}

/*listings input*/
.inputdemoErrors .inputErrorsApp {
  min-height: 48px; }

/*user feed*/
.userfeed md-grid-list {
  margin: 8px; }

.userfeed md-grid-tile {
  transition: all 400ms ease-out 50ms; }

/*ANGULAR MATERIAL*/
.md-button.md-fab {
  line-height: 5.6rem;
  min-width: 0;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

md-sidenav.md-locked-open {
  width: 250px !important;
  min-width: 250px !important;
  max-width: 250px !important;
}

/*Add New Item Input */
.inputdemoBasicUsage .md-datepicker-button {
  width: 36px; }

/*POPUP ADD ITEM*/
.dialogdemoBasicUsage #popupContainer {
  position: relative;
}

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px;
}

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px;
}
