/*#side_nav_ul {
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgba(0, 0, 0, 0.870588);
    border-left-color: rgba(0, 0, 0, 0.870588);
    border-right-color: rgba(0, 0, 0, 0.870588);
    border-top-color: rgba(0, 0, 0, 0.870588);
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 10px 0px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.870588);
    font-family: Roboto, sans-serif;
    font-size: 14.5px;
    height: 801px;
    left: 0px;
    line-height: 21.75px;
    list-style-type: none;
    margin-bottom: 0px;
    margin-top: 0px;
    outline-color: rgba(0, 0, 0, 0.870588);
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 60px;
    padding-left: 0px;
    position: fixed;
    top: 0px;
    width: 240px;
    will-change: left;
    z-index: 999;
    -webkit-column-rule-color: rgba(0, 0, 0, 0.870588);
    -webkit-locale: "en";
    perspective-origin: 120px 400.5px;
    -webkit-text-emphasis-color: rgba(0, 0, 0, 0.870588);
    -webkit-text-fill-color: rgba(0, 0, 0, 0.870588);
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.870588);
    transform-origin: 120px 400.5px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgba(0, 0, 0, 0.870588);
    border-top: 0px none rgba(0, 0, 0, 0.870588);
    border-right: 0px none rgba(0, 0, 0, 0.870588);
    border-bottom: 0px none rgba(0, 0, 0, 0.870588);
    border-left: 0px none rgba(0, 0, 0, 0.870588);
    border-color: rgba(0, 0, 0, 0.870588);
    border-radius: 0 0 0 0;
    font: normal normal normal normal 14.5px / 21.75px Roboto, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgba(0, 0, 0, 0.870588) none 0px;
    overflow: hidden;
    padding: 0px 0px 60px;
    -webkit-border-after: 0px none rgba(0, 0, 0, 0.870588);
    -webkit-border-before: 0px none rgba(0, 0, 0, 0.870588);
    -webkit-border-end: 0px none rgba(0, 0, 0, 0.870588);
    -webkit-border-start: 0px none rgba(0, 0, 0, 0.870588);
    -webkit-transform-origin: 120px 400.5px;
}

#brand_li {
    border-bottom-color: rgba(0, 0, 0, 0.870588);
    border-left-color: rgba(0, 0, 0, 0.870588);
    border-right-color: rgba(0, 0, 0, 0.870588);
    border-top-color: rgba(0, 0, 0, 0.870588);
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.870588);
    font-family: Roboto, sans-serif;
    font-size: 14.5px;
    height: 57px;
    line-height: 44px;
    list-style-type: none;
    margin-bottom: 80px;
    margin-top: 32px;
    outline-color: rgba(0, 0, 0, 0.870588);
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 240px;
    -webkit-column-rule-color: rgba(0, 0, 0, 0.870588);
    -webkit-locale: "en";
    perspective-origin: 120px 28.5px;
    -webkit-text-emphasis-color: rgba(0, 0, 0, 0.870588);
    -webkit-text-fill-color: rgba(0, 0, 0, 0.870588);
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.870588);
    transform-origin: 120px 28.5px;
    border: 0px none rgba(0, 0, 0, 0.870588);
    border-top: 0px none rgba(0, 0, 0, 0.870588);
    border-right: 0px none rgba(0, 0, 0, 0.870588);
    border-bottom: 0px none rgba(0, 0, 0, 0.870588);
    border-left: 0px none rgba(0, 0, 0, 0.870588);
    border-color: rgba(0, 0, 0, 0.870588);
    border-radius: 0 0 0 0;
    font: normal normal normal normal 14.5px / 44px Roboto, sans-serif;
    list-style: none outside none;
    margin: 32px 0px 80px;
    outline: rgba(0, 0, 0, 0.870588) none 0px;
    padding: 0px 15px;
    -webkit-border-after: 0px none rgba(0, 0, 0, 0.870588);
    -webkit-border-before: 0px none rgba(0, 0, 0, 0.870588);
    -webkit-border-end: 0px none rgba(0, 0, 0, 0.870588);
    -webkit-border-start: 0px none rgba(0, 0, 0, 0.870588);
    -webkit-transform-origin: 120px 28.5px;
}

#brand_anchor {
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: 0s;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-name: none;
  animation-play-state: running;
  animation-timing-function: ease;
  background-attachment: scroll;
  background-blend-mode: normal;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  border-bottom-color: rgb(68, 68, 68);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-collapse: separate;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(68, 68, 68);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(68, 68, 68);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(68, 68, 68);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-style: none;
  border-top-width: 0px;
  bottom: auto;
  box-shadow: none;
  box-sizing: border-box;
  caption-side: top;
  clear: none;
  clip: auto;
  color: rgb(68, 68, 68);
  cursor: auto;
  direction: ltr;
  display: block;
  empty-cells: show;
  float: none;
  font-family: Roboto, sans-serif;
  font-kerning: auto;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: normal;
  font-weight: normal;
  height: 57px;
  image-rendering: auto;
  isolation: auto;
  left: auto;
  letter-spacing: normal;
  line-height: 44px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 32px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  max-height: none;
  max-width: none;
  min-height: 0px;
  min-width: 0px;
  mix-blend-mode: normal;
  motion-offset: 0px;
  motion-path: none;
  motion-rotation: auto 0deg;
  object-fit: fill;
  object-position: 50% 50%;
  opacity: 1;
  orphans: auto;
  outline-color: rgb(68, 68, 68);
  outline-offset: 0px;
  outline-style: none;
  outline-width: 0px;
  overflow-wrap: normal;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  pointer-events: auto;
  position: static;
  resize: none;
  right: auto;
  speak: normal;
  table-layout: auto;
  tab-size: 8;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-overflow: clip;
  text-transform: none;
  top: auto;
  touch-action: auto;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: all;
  transition-timing-function: ease;
  unicode-bidi: normal;
  vertical-align: baseline;
  visibility: visible;
  white-space: normal;
  widows: 1;
  width: 210px;
  will-change: auto;
  word-break: normal;
  word-spacing: 0px;
  word-wrap: normal;
  z-index: auto;
  zoom: 1;
  -webkit-appearance: none;
  backface-visibility: visible;
  -webkit-background-clip: border-box;
  -webkit-background-composite: source-over;
  -webkit-background-origin: padding-box;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-image: none;
  -webkit-border-vertical-spacing: 0px;
  -webkit-box-align: stretch;
  -webkit-box-decoration-break: slice;
  -webkit-box-direction: normal;
  -webkit-box-flex: 0;
  -webkit-box-flex-group: 1;
  -webkit-box-lines: single;
  -webkit-box-ordinal-group: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-reflect: none;
  -webkit-clip-path: none;
  -webkit-column-break-after: auto;
  -webkit-column-break-before: auto;
  -webkit-column-break-inside: auto;
  -webkit-column-count: auto;
  -webkit-column-gap: normal;
  -webkit-column-rule-color: rgb(68, 68, 68);
  -webkit-column-rule-style: none;
  -webkit-column-rule-width: 0px;
  -webkit-column-span: none;
  -webkit-column-width: auto;
  -webkit-filter: none;
  align-content: start;
  align-items: start;
  align-self: start;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  -webkit-font-smoothing: auto;
  -webkit-highlight: none;
  -webkit-hyphenate-character: auto;
  -webkit-line-box-contain: block inline replaced;
  -webkit-line-break: auto;
  -webkit-line-clamp: none;
  -webkit-locale: "en";
  -webkit-margin-before-collapse: collapse;
  -webkit-margin-after-collapse: collapse;
  -webkit-mask-box-image: none;
  -webkit-mask-box-image-outset: 0px;
  -webkit-mask-box-image-repeat: stretch;
  -webkit-mask-box-image-slice: 0 fill;
  -webkit-mask-box-image-source: none;
  -webkit-mask-box-image-width: auto;
  -webkit-mask-clip: border-box;
  -webkit-mask-composite: source-over;
  -webkit-mask-image: none;
  -webkit-mask-origin: border-box;
  -webkit-mask-position: 0% 0%;
  -webkit-mask-repeat: repeat;
  -webkit-mask-size: auto;
  order: 0;
  perspective: none;
  perspective-origin: 105px 28.5px;
  -webkit-print-color-adjust: economy;
  -webkit-rtl-ordering: logical;
  shape-outside: none;
  shape-image-threshold: 0;
  shape-margin: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-combine: none;
  -webkit-text-decorations-in-effect: none;
  -webkit-text-emphasis-color: rgb(68, 68, 68);
  -webkit-text-emphasis-position: over;
  -webkit-text-emphasis-style: none;
  -webkit-text-fill-color: rgb(68, 68, 68);
  -webkit-text-orientation: vertical-right;
  -webkit-text-security: none;
  -webkit-text-stroke-color: rgb(68, 68, 68);
  -webkit-text-stroke-width: 0px;
  transform: none;
  transform-origin: 105px 28.5px;
  transform-style: flat;
  -webkit-user-drag: auto;
  -webkit-user-modify: read-only;
  -webkit-user-select: text;
  -webkit-writing-mode: horizontal-tb;
  -webkit-app-region: no-drag;
  buffered-rendering: auto;
  clip-path: none;
  clip-rule: nonzero;
  mask: none;
  filter: none;
  flood-color: rgb(0, 0, 0);
  flood-opacity: 1;
  lighting-color: rgb(255, 255, 255);
  stop-color: rgb(0, 0, 0);
  stop-opacity: 1;
  color-interpolation: sRGB;
  color-interpolation-filters: linearRGB;
  color-rendering: auto;
  fill: rgb(0, 0, 0);
  fill-opacity: 1;
  fill-rule: nonzero;
  marker-end: none;
  marker-mid: none;
  marker-start: none;
  mask-type: luminance;
  shape-rendering: auto;
  stroke: none;
  stroke-dasharray: none;
  stroke-dashoffset: 0px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-width: 1px;
  alignment-baseline: auto;
  baseline-shift: 0px;
  dominant-baseline: auto;
  text-anchor: start;
  writing-mode: lr-tb;
  glyph-orientation-horizontal: 0deg;
  glyph-orientation-vertical: auto;
  vector-effect: none;
  paint-order: fill stroke markers;
  cx: 0px;
  cy: 0px;
  x: 0px;
  y: 0px;
  r: 0px;
  rx: 0px;
  ry: 0px;
  content: ;
  animation: none 0s ease 0s 1 normal none running;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(68, 68, 68);
  border-top: 0px none rgb(68, 68, 68);
  border-right: 0px none rgb(68, 68, 68);
  border-bottom: 0px none rgb(68, 68, 68);
  border-left: 0px none rgb(68, 68, 68);
  border-width: 0px;
  border-color: rgb(68, 68, 68);
  border-style: none;
  border-radius: 0px 0px 0px 0px;
  border-image: none;
  border-spacing: 0px 0px;
  flex: 0 1 auto;
  flex-flow: row nowrap;
  font: normal normal normal normal 13px / 44px Roboto, sans-serif;
  list-style: none outside none;
  margin: 0px 0px 32px;
  marker: ;
  outline: rgb(68, 68, 68) none 0px;
  overflow: visible;
  padding: 0px 15px;
  transition: all 0s ease 0s;
  -webkit-border-after: 0px none rgb(68, 68, 68);
  -webkit-border-before: 0px none rgb(68, 68, 68);
  -webkit-border-end: 0px none rgb(68, 68, 68);
  -webkit-border-start: 0px none rgb(68, 68, 68);
  -webkit-margin-collapse: ;
  -webkit-mask: ;
  -webkit-text-emphasis: ;
  -webkit-transition: all 0s ease 0s;
  -webkit-transform-origin: 105px 28.5px;
}
/*#A_2*/

#brand_img {
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: 0s;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-name: none;
  animation-play-state: running;
  animation-timing-function: ease;
  background-attachment: scroll;
  background-blend-mode: normal;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  border-bottom-color: rgb(68, 68, 68);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-collapse: separate;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(68, 68, 68);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(68, 68, 68);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(68, 68, 68);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-style: none;
  border-top-width: 0px;
  bottom: auto;
  box-shadow: none;
  box-sizing: border-box;
  caption-side: top;
  clear: none;
  clip: auto;
  color: rgb(68, 68, 68);
  cursor: auto;
  direction: ltr;
  display: inline-block;
  empty-cells: show;
  float: none;
  font-family: Roboto, sans-serif;
  font-kerning: auto;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: normal;
  font-weight: normal;
  height: 57px;
  image-rendering: auto;
  isolation: auto;
  left: auto;
  letter-spacing: normal;
  line-height: 44px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  max-height: none;
  max-width: none;
  min-height: 0px;
  min-width: 0px;
  mix-blend-mode: normal;
  motion-offset: 0px;
  motion-path: none;
  motion-rotation: auto 0deg;
  object-fit: fill;
  object-position: 50% 50%;
  opacity: 1;
  orphans: auto;
  outline-color: rgb(68, 68, 68);
  outline-offset: 0px;
  outline-style: none;
  outline-width: 0px;
  overflow-wrap: normal;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  pointer-events: none;
  position: static;
  resize: none;
  right: auto;
  speak: normal;
  table-layout: auto;
  tab-size: 8;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-overflow: clip;
  text-transform: none;
  top: auto;
  touch-action: auto;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: all;
  transition-timing-function: ease;
  unicode-bidi: normal;
  vertical-align: baseline;
  visibility: visible;
  white-space: normal;
  widows: 1;
  width: 115px;
  will-change: auto;
  word-break: normal;
  word-spacing: 0px;
  word-wrap: normal;
  z-index: auto;
  zoom: 1;
  -webkit-appearance: none;
  backface-visibility: visible;
  -webkit-background-clip: border-box;
  -webkit-background-composite: source-over;
  -webkit-background-origin: padding-box;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-image: none;
  -webkit-border-vertical-spacing: 0px;
  -webkit-box-align: stretch;
  -webkit-box-decoration-break: slice;
  -webkit-box-direction: normal;
  -webkit-box-flex: 0;
  -webkit-box-flex-group: 1;
  -webkit-box-lines: single;
  -webkit-box-ordinal-group: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-reflect: none;
  -webkit-clip-path: none;
  -webkit-column-break-after: auto;
  -webkit-column-break-before: auto;
  -webkit-column-break-inside: auto;
  -webkit-column-count: auto;
  -webkit-column-gap: normal;
  -webkit-column-rule-color: rgb(68, 68, 68);
  -webkit-column-rule-style: none;
  -webkit-column-rule-width: 0px;
  -webkit-column-span: none;
  -webkit-column-width: auto;
  -webkit-filter: none;
  align-content: start;
  align-items: start;
  align-self: start;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  -webkit-font-smoothing: auto;
  -webkit-highlight: none;
  -webkit-hyphenate-character: auto;
  -webkit-line-box-contain: block inline replaced;
  -webkit-line-break: auto;
  -webkit-line-clamp: none;
  -webkit-locale: "en";
  -webkit-margin-before-collapse: collapse;
  -webkit-margin-after-collapse: collapse;
  -webkit-mask-box-image: none;
  -webkit-mask-box-image-outset: 0px;
  -webkit-mask-box-image-repeat: stretch;
  -webkit-mask-box-image-slice: 0 fill;
  -webkit-mask-box-image-source: none;
  -webkit-mask-box-image-width: auto;
  -webkit-mask-clip: border-box;
  -webkit-mask-composite: source-over;
  -webkit-mask-image: none;
  -webkit-mask-origin: border-box;
  -webkit-mask-position: 0% 0%;
  -webkit-mask-repeat: repeat;
  -webkit-mask-size: auto;
  order: 0;
  perspective: none;
  perspective-origin: 57.5px 28.5px;
  -webkit-print-color-adjust: economy;
  -webkit-rtl-ordering: logical;
  shape-outside: none;
  shape-image-threshold: 0;
  shape-margin: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-combine: none;
  -webkit-text-decorations-in-effect: none;
  -webkit-text-emphasis-color: rgb(68, 68, 68);
  -webkit-text-emphasis-position: over;
  -webkit-text-emphasis-style: none;
  -webkit-text-fill-color: rgb(68, 68, 68);
  -webkit-text-orientation: vertical-right;
  -webkit-text-security: none;
  -webkit-text-stroke-color: rgb(68, 68, 68);
  -webkit-text-stroke-width: 0px;
  transform: none;
  transform-origin: 57.5px 28.5px;
  transform-style: flat;
  -webkit-user-drag: auto;
  -webkit-user-modify: read-only;
  -webkit-user-select: text;
  -webkit-writing-mode: horizontal-tb;
  -webkit-app-region: no-drag;
  buffered-rendering: auto;
  clip-path: none;
  clip-rule: nonzero;
  mask: none;
  filter: none;
  flood-color: rgb(0, 0, 0);
  flood-opacity: 1;
  lighting-color: rgb(255, 255, 255);
  stop-color: rgb(0, 0, 0);
  stop-opacity: 1;
  color-interpolation: sRGB;
  color-interpolation-filters: linearRGB;
  color-rendering: auto;
  fill: rgb(0, 0, 0);
  fill-opacity: 1;
  fill-rule: nonzero;
  marker-end: none;
  marker-mid: none;
  marker-start: none;
  mask-type: luminance;
  shape-rendering: auto;
  stroke: none;
  stroke-dasharray: none;
  stroke-dashoffset: 0px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-width: 1px;
  alignment-baseline: auto;
  baseline-shift: 0px;
  dominant-baseline: auto;
  text-anchor: start;
  writing-mode: lr-tb;
  glyph-orientation-horizontal: 0deg;
  glyph-orientation-vertical: auto;
  vector-effect: none;
  paint-order: fill stroke markers;
  cx: 0px;
  cy: 0px;
  x: 0px;
  y: 0px;
  r: 0px;
  rx: 0px;
  ry: 0px;
  content: ;
  animation: none 0s ease 0s 1 normal none running;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(68, 68, 68);
  border-top: 0px none rgb(68, 68, 68);
  border-right: 0px none rgb(68, 68, 68);
  border-bottom: 0px none rgb(68, 68, 68);
  border-left: 0px none rgb(68, 68, 68);
  border-width: 0px;
  border-color: rgb(68, 68, 68);
  border-style: none;
  border-radius: 0px 0px 0px 0px;
  border-image: none;
  border-spacing: 0px 0px;
  flex: 0 1 auto;
  flex-flow: row nowrap;
  font: normal normal normal normal 13px / 44px Roboto, sans-serif;
  list-style: none outside none;
  margin: 0px;
  marker: ;
  outline: rgb(68, 68, 68) none 0px;
  overflow: visible;
  padding: 0px;
  transition: all 0s ease 0s;
  -webkit-border-after: 0px none rgb(68, 68, 68);
  -webkit-border-before: 0px none rgb(68, 68, 68);
  -webkit-border-end: 0px none rgb(68, 68, 68);
  -webkit-border-start: 0px none rgb(68, 68, 68);
  -webkit-margin-collapse: ;
  -webkit-mask: ;
  -webkit-text-emphasis: ;
  -webkit-transition: all 0s ease 0s;
  -webkit-transform-origin: 57.5px 28.5px;
}*/
