{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>

<h5>New Person</h5>
<form action="/users" method="POST">
  First name:<br>
  <input type="text" name="first" id="first">
  <br>
  Last name:<br>
  <input type="text" name="last" id="last">
  <br>
   Email:<br>
  <input type="email" name="email" id="email">
  <br>
   Instagram:<br>
  <input type="text" name="instagram" id="instagram">
  <br>
  <input type="submit" value="Submit">
</form>

<hr>

<h5>New Item</h5>
<form action="/items" method="POST">
  Size<br>
  <input type="text" name="size" id="size">
  <br>
  Category:<br>
  <input type="text" name="category" id="category">
  <br>
   Description:<br>
  <input type="text" name="description" id="description">
  <br>
   Condition:<br>
  <input type="text" name="condition" id="condition">
  <br>
  <input type="submit" value="Submit">
</form>

  </div>

{% endblock %}
