<!-- START TOP NAV TOOLBAR -->
<div ng-cloak>
  <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings">
          <md-icon md-svg-icon="bower_components/material-design-icons/navigation/svg/production/ic_menu_24px.svg"></md-icon>
        </md-button>
        <h2>
          <span>Test App</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="More">
          <md-menu md-position-mode="target-right target" >
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <md-icon md-svg-icon="bower_components/material-design-icons/social/svg/production/ic_person_24px.svg"></md-icon>
            </md-button>
            <md-menu-content width="4" >
              <md-menu-item>
                <md-button ng-click="announceClick($index)">
                    <div layout="row">
                      <p flex>Profile</p>
                      <md-icon md-menu-align-target md-svg-icon="bower_components/material-design-icons/social/svg/production/ic_person_24px.svg" style="margin: auto 3px auto 0;"></md-icon>
                    </div>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="announceClick($index)">
                    <div layout="row">
                      <p flex>Buyer Page</p>
                    </div>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="announceClick($index)">
                    <div layout="row">
                      <p flex>Seller Page</p>
                    </div>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="announceClick($index)">
                    <div layout="row">
                      <p flex>Favorites</p>
                    </div>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="announceClick($index)">
                    <div layout="row">
                      <p flex>Messages</p>
                    </div>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-button>
      </div>
    </md-toolbar>
  </md-content>
</div>
<!-- END TOP NAV -->

<div layout="column" ng-cloak>
  <section layout="row" flex>

  <!-- SIDE NAV CONTENT -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Recent Convo with Min Li</h1>
      </md-toolbar>
      <md-content layout-padding>
        <md-list>
          <md-subheader class="md-no-sticky">3 line item</md-subheader>
          <md-list-item class="md-3-line" ng-repeat="item in todos">
            <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
            <div class="md-list-item-text" layout="column">
              <h3>{{ item.who }}</h3>
              <h4>{{ item.what }}</h4>
              <p>{{ item.notes }}</p>
            </div>
          </md-list-item>
          <md-divider ></md-divider>
          <md-subheader class="md-no-sticky">2 line item</md-subheader>
          <md-list-item class="md-2-line">
          <img ng-src="{{todos[0].face}}?20" class="md-avatar" alt="{{todos[0].who}}" />
            <div class="md-list-item-text">
              <h3>{{ todos[0].who }}</h3>
              <p>Secondary text</p>
            </div>
          </md-list-item>
          <md-divider ></md-divider>
          <md-subheader class="md-no-sticky">3 line item, long paragraph (see on mobile)</md-subheader>
          <md-list-item class="md-3-line">
            <img ng-src="{{todos[0].face}}?25" class="md-avatar" alt="{{todos[0].who}}" />
            <div class="md-list-item-text">
              <h3>{{ todos[0].who }}</h3>
              <p>Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.</p>
            </div>
          </md-list-item>
          <md-divider ></md-divider>
          <md-subheader class="md-no-sticky">md-offset class</md-subheader>
          <md-list-item class="md-2-line" ng-repeat="phone in phones">
            <md-icon md-svg-icon="communication:phone" ng-if="$index === 0"></md-icon>
            <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
              <h3> {{ phone.number }} </h3>
              <p> {{ phone.type }} </p>
            </div>
          </md-list-item>
        </md-list>
        <p hide-md show-gt-md>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p>
      </md-content>
    </md-sidenav>
  <!-- END SIDE NAV -->


  <!-- IMAGE FEED -->
    <md-content ng-controller="BottomSheetExample" flex layout-padding>
      <div layout="column" layout-fill layout-align="top center">
          <md-grid-list class="gridListdemoBasicUsage"
                md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
                md-row-height-gt-md="1:1" md-row-height="2:2"
                md-gutter="12px" md-gutter-gt-sm="8px" >

            <!-- IMAGE 1 -->
            <md-grid-tile class="twentytwo" ng-click="showGridBottomSheet($event)"
                md-rowspan="1" md-colspan="1">
            </md-grid-tile>
            <!-- IMAGE 2 -->
            <md-grid-tile class="one">
            </md-grid-tile>
            <!-- IMAGE 3 -->
            <md-grid-tile class="two">
            </md-grid-tile>
            <!-- IMAGE 4 -->
            <md-grid-tile class="three">
            </md-grid-tile>
            <!-- IMAGE 5 -->
            <md-grid-tile class="nineteen"
                md-rowspan="2" md-colspan="2" md-colspan-sm="1">
            </md-grid-tile>
            <!-- IMAGE 6 -->
            <md-grid-tile class="five"
                md-rowspan="2" md-colspan="2">
            </md-grid-tile>
            <!-- IMAGE 7 -->
            <md-grid-tile class="six">
            </md-grid-tile>
            <!-- IMAGE 8 -->
            <md-grid-tile class="seven">
            </md-grid-tile>
            <!-- IMAGE 9 -->
            <md-grid-tile class="eight">
            </md-grid-tile>
            <!-- IMAGE 10 -->
            <md-grid-tile class="ten" md-rowspan="3" md-colspan="3">
            </md-grid-tile>
            <!-- IMAGE 11 -->
            <md-grid-tile class="nine">
            </md-grid-tile>
            <!-- IMAGE 12 -->
            <md-grid-tile class="eleven" md-rowspan="2" md-colspan="2">
            </md-grid-tile>
            <!-- IMAGE 13 -->
            <md-grid-tile class="twelve">
            </md-grid-tile>
        <!--     PART TWO -->
            <!-- IMAGE 1 -->
            <md-grid-tile class="twentytwo" ng-click="showGridBottomSheet($event)"
                md-rowspan="2" md-colspan="2">
            </md-grid-tile>
            <!-- IMAGE 2 -->
            <md-grid-tile class="fourteen">
            </md-grid-tile>
            <!-- IMAGE 3 -->
            <md-grid-tile class="fifteen">
            </md-grid-tile>
            <!-- IMAGE 4 -->
            <md-grid-tile class="sixteen">
            </md-grid-tile>
            <!-- IMAGE 5 -->
            <md-grid-tile class="seventeen">
            </md-grid-tile>
            <!-- IMAGE 6 -->
            <md-grid-tile class="eighteen">
            </md-grid-tile>
            <!-- IMAGE 7 -->
            <md-grid-tile class="nineteen">
            </md-grid-tile>
            <!-- IMAGE 8 -->
            <md-grid-tile class="twenty" md-rowspan="2" md-colspan="2">
            </md-grid-tile>
            <!-- IMAGE 9 -->
            <md-grid-tile class="twentyone" md-rowspan="3" md-colspan="3">
            </md-grid-tile>
            <!-- IMAGE 10 -->
            <md-grid-tile class="one">
            </md-grid-tile>
            <!-- IMAGE 11 -->
            <md-grid-tile class="two" md-rowspan="2" md-colspan="2">
            </md-grid-tile>
            <!-- IMAGE 12 -->
            <md-grid-tile class="three">
            </md-grid-tile>
            <!-- IMAGE 13 -->
            <md-grid-tile class="four">
            </md-grid-tile>


          </md-grid-list>
      </div>
      <div flex></div>
    </md-content>
<!-- END IMAGE FEED -->


  <!-- TEST GRID -->
  <div ng-controller="gridListDemoCtrl as vm" flex="" ng-cloak="" class="gridListdemoDynamicTiles">
    </md-grid-list>
  </div>
  <!-- END TEST GRID -->

  </section>
</div>
