<md-content class="md-padding">
  <h1 class="md-display-2">My Current Bids</h1>
    <div ng-init="getUserBids()">
      <div layout="row" layout-align="center center" ng-repeat="bid in userBids">
        <div class="bidBox">
            <div class="inline">
              <img class="feedImage" src={{bid.imgUrl}}>
            </div>
            <div class="inline">
                <h1>{{ bid.title }}</h1>
                <div>{{ bid.summary }}</div>
                <div>Recommended Bid Amount: {{bid.minimum}}</div>
                <div>Your Bid Amount: {{bid.bidAmount}}</div>
                <div>Status: Pending</div>
            </div>
        </div>
      </div>
    </div>
</md-content>
