  <div class="container center">

    <div class="container">
      <div ng-if="isAuthenticated()" class="center">
        <h1>{{ user.name }}</h1>
        <br>
        <img src={{user.profile_picture}}>
        <br><br><br>
        <button class="btn btn-block btn-success" ng-click="logout()">Log Out</button>
      </div>

      <div ng-if="isAuthenticated()" class="center">
        <h4>Images:</h4>
        <p ng-init="getUserImages($scope.user.token)"></p>
      </div>

      <div ng-if="!isAuthenticated()" class="center">
        <button class="center btn btn-block btn-success" ng-click="authenticate('instagram')">Sign in with Instagram</button>
      </div>

</div>
