    <div class="container center">
      <div ng-if="!isAuthenticated()" class="center">
        <button class="center btn btn-block btn-success" ng-click="authenticate('instagram')">Sign in with Instagram</button>
      </div>

      <div ng-if="isAuthenticated()" class="center">
        <h1>{{ user.name }}</h1>
        <br>
        <img src={{user.profile_picture}}>
        <br><br><br>
        <button class="btn btn-block btn-success" ng-click="logout()">Log Out</button>
      </div>

      <div ng-if="isAuthenticated()" class="center">
        <h4>Images:</h4>
        <div>{{ user }}</div>
        <div>{{ user.instagram_id }}</div>
        <div ng-init=getFeed()></div>
<!--         <div ng-repeat="photo in photos track by $index">
          <a href="#/photo/{{photo.id}}">
          <img ng-src="{{photo.images.standard_resolution.url}}">
          </a>
        </div> -->
      </div>



  </div>

