<!--   <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">the Mend</a>
      </div>
    </nav>
  </div>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a class="center" href="/">Feed</a></li>
          <li><a class="center" href="/">Profile</a></li>
          <li><a class="center" href="/">Sold</a></li>
        </ul>
      </div>
    </nav>
  </div> -->
<!--   <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img src="../mend_black.png"></a>
      </div>
    </nav> -->

<ul id="side_nav_ul" class="side-nav fixed" style="width: 240px;">
        <li id="brand_li" class="logo"><a id="brand_anchor" class="brand-logo">
            <img id="brand_img" src="https://d13yacurqjgara.cloudfront.net/users/351732/screenshots/1442282/rejected_m.jpg"></a>
        </li>
<!--         <li class="search">
          <div class="search-wrapper card">
            <input id="search"><i class="material-icons">search</i>
            <div class="search-results"></div>
          </div>
        </li> -->
        <li class="bold"><a href="about.html" class="waves-effect waves-teal">About</a></li>
        <li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Getting Started</a></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Profile</a>
              <div class="collapsible-body" style="">
                <ul>
                  <li><a href="badges.html">Badges</a></li>
                  <li><a href="buttons.html">Buttons</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
<!--         <li class="bold"><a href="http://materializecss.com/mobile.html" class="waves-effect waves-teal">Mobile</a></li>
        <li class="bold"><a href="showcase.html" class="waves-effect waves-teal">Showcase</a></li> -->
      </ul>
