<h1>Listings</h1>

<div>
  <button class="btn waves-effect waves-light" ng-click="showFeed=true">Add New Listing
  <i class="material-icons right">add</i>
  </button>
  <button class="btn waves-effect waves-light" ng-click="showFeed=true">View Current Listings
  <i class="material-icons right">view_list</i>
  </button>
</div>

<div class="container center" ng-show="showFeed">
<h4>Select An Item To List</h4><br>
  <div class="row">
    <div ng-if="isAuthenticated()" ng-init="getFeed()">
      <div ng-repeat="photo in photos" class="inline col s4">
        <img ng-click="imageInfo()" class="feedImage" src={{photo}}>
      </div>
    </div>
  </div>
</div>


<div class="row border">
  <br>
  <form class="col s12" action="/api/items" method="post">
    <input type="hidden" name="seller" id="seller" value={{user.username}}>
    <input type="hidden" name="imgUrl" id="imgUrl" value={{newItemUrl}}>
    <input type="hidden" name="status" id="status" value="listed">
    <div class="row">
      <div class="col s4">
        <div class="row">
          <div>
            <img class="feedImage" src={{newItemUrl}}>
          </div>
        </div>
      </div>
      <div class="col s8">
        <div class="row">
          <div class="input-field col s7">
            <input name="title" id="title" type="text" class="validate">
            <label for="title">Item Name</label>
          </div>
          <div class="input-field col s5">
            <input name="minimum" id="minimum" type="text" class="validate">
            <label for="minimum">Recommended Bid</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input name="size" id="size" type="text" class="validate">
            <label for="size">Size</label>
          </div>
          <div class="input-field col s6">
            <input name="category" id="category" type="text" class="validate">
            <label for="category">Category</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input name="condition" id="condition" type="text" class="validate">
            <label for="condition">Condition</label>
          </div>
          <div class="input-field col s6">
            <input name="brand" id="brand" type="text" class="validate">
            <label for="brand">Brand</label>
          </div>
        </div>
        </div>
      </div>
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input name="summary" id="summary" type="text" class="validate">
            <label for="summary">Item Summary</label>
          </div>
        </div>
        <div>
          <button class="btn waves-effect waves-light" type="submit" name="action">List Item For Sale
          <i class="material-icons right">done</i>
          </button>
        </div>
        <br>
      </div>
    </div>
  </form>
</div>
