<div ng-controller="mainController" class="navbar-custom">

        <nav class="navbar highNav navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header center">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a href="#!"><img src="../mend_white.png" width="120" height="70"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse weightFour">
                    <ul class="nav navbar-nav" data-toggle="collapse">
                        <li ng-if="!isAuthenticated()">
                          <a ng-click="authenticate('instagram')">LOG IN</a>
                        </li>
                        <li ng-if="isAuthenticated()">
                          <a ng-click="authenticate('instagram')">LOG OUT</a>
                        </li>
<!--                         <li class="dropdown">
                            <a href="/profile">Profile</a>
                        </li>
                        <li class="dropdown">
                            <a href="/wishlist">Wishlist</a>
                        </li>
                        <li class="dropdown">
                            <a href="/creators">For Sale</a>
                        </li>
                        <li class="dropdown" ng-if="!isAuthenticated()">
                            <a href="go('/')">Log In</a>
                        </li>
                        <li class="dropdown" ng-if="isAuthenticated()">
                            <a ng-click="logout()" href="go('/')">Log Out</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
                    <div class="container lowNav">
              <div ng-if="isAuthenticated()" class="col s12">
                  <ul class="tabs blue-grey lighten-4" tabs>
                      <li class="tab col s3"><a href="/#/profile">Profile</a></li>
                      <li class="tab col s3"><a class="active" href="/#/listings">Listings</a></li>
                      <li class="tab col s3"><a href="/#/bids">Item Bids</a></li>
                      <li class="tab col s3"><a href="/#/wishlist">Wish List</a></li>
                  </ul>
              </div>
            </div>


<!-- LEFT TOP NAV -->
<!--       <ul class="left">
        <li><a class="waves-effect waves-light" href="sass.html"><i class="material-icons">search</i></a></li>
        <li><a class="waves-effect waves-light" href="mobile.html"><i class="material-icons ">view_module</i></a></li>
      </ul> -->



<!-- SECONDARY NAV -->
<!--     <div ng-if="isAuthenticated()" class="col s12">
        <ul class="tabs blue-grey lighten-4" tabs>
            <li class="tab col s3"><a href="/#/profile">Profile</a></li>
            <li class="tab col s3"><a class="active" href="/#/listings">Listings</a></li>
            <li class="tab col s3"><a href="/#/bids">Item Bids</a></li>
            <li class="tab col s3"><a href="/#/wishlist">Wish List</a></li>
        </ul>
    </div> -->
</div>
