<div ng-if="!isAuthenticated()" class="container center">
  <div layout="row">
    <div ng-init="getItemsForSale()">
      <div class="inline imageBox">

        <article class="caption inline" ng-repeat="item in itemsForSale">
            <img class="caption__media feedImage" ng-Mouseover="imageInquiry()" ng-Mouseenter="showInfoHover=true" ng-Mouseleave="showInfoHover=false"  src={{item.imgUrl}}>
            <div class="caption__overlay" ng-controller="AppCtrl" ng-click="showDialog($event)">
                <h1 class="caption__overlay__title">{{ inquiryImg.title }}</h1>
                <div class="caption__overlay__content">{{ inquiryImg.summary }}</div>
            </div>
        </article>

      </div>
    </div>
  </div>
</div>

<div ng-if="isAuthenticated()" ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>

<!--
<h4>Edit Profile</h4>
<div class="row border">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s4">
        <input value={{user.name}} id="disabled" type="text" class="validate">
        <label for="disabled">Full Name</label>
      </div>
      <div class="input-field col s4">
        <input id="password" type="email" class="validate">
        <label for="password">Email</label>
      </div>
      <div class="input-field col s4">
        <input id="email" type="email" class="validate">
        <label for="email">Phone Number</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s5">
        <input id="disabled" type="text" class="validate">
        <label for="disabled">Address</label>
      </div>
      <div class="input-field col s3">
        <input id="disabled" type="text" class="validate">
        <label for="disabled">City</label>
      </div>
      <div class="input-field col s2">
        <input id="disabled" type="text" class="validate">
        <label for="disabled">State</label>
      </div>
      <div class="input-field col s2">
        <input id="disabled" type="text" class="validate">
        <label for="disabled">Zipcode</label>
      </div>
    </div>
    <div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Save Profile
      <i class="material-icons right">done</i>
      </button>
    </div>
    <br><br>
  </form>
</div> -->
       <!--  </md-content> -->
    <md-tab label="Shop">
        <md-content class="md-padding">
          <div class="container center">
              <div layout="row">
                <div ng-init="getItemsForSale()">
                  <div class="inline imageBox">

                    <article class="caption inline" ng-repeat="item in itemsForSale">
                        <img class="caption__media feedImage" ng-Mouseover="imageInquiry()" ng-Mouseenter="showInfoHover=true" ng-Mouseleave="showInfoHover=false"  src={{item.imgUrl}}>
                        <div class="caption__overlay" ng-controller="AppCtrl" ng-click="showDialog($event)">
                            <h1 class="caption__overlay__title">{{ inquiryImg.title }}</h1>
                            <div class="caption__overlay__content">{{ inquiryImg.summary }}</div>
                        </div>
                    </article>

                  </div>
                </div>
              </div>
            </div>
        </md-content>
      </md-tab>



      <md-tab label="Listings">
        <md-content class="md-padding">
          <h1 class="md-display-2">My Current Items Listed For Sale</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
        </md-content>
      </md-tab>
      <md-tab label="Bids">
        <md-content class="md-padding">
          <h1 class="md-display-2">Bids</h1>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>
      <md-tab label="Wishlist">
        <md-content class="md-padding">
          <h1 class="md-display-2">Wishlist</h1>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>
      <md-tab label="Add New Listing">
        <md-content class="md-padding">

          <new-item></new-item>

        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
