<div ng-if="!isAuthenticated()" class="container center">
  <div layout="row" layout-align="center center">
    <div ng-init="getItemsForSale()">
      <div class="gapFix" ng-repeat="item in itemsForSale">
        <article class="caption">
            <img class="caption__media feedImage" ng-Mouseover="imageInquiry()" ng-Mouseenter="showInfoHover=true" ng-Mouseleave="showInfoHover=false"  src={{item.imgUrl}}>
            <div class="caption__overlay" ng-controller="AppCtrl" ng-click="showDialog($event)">
                <h1 class="caption__overlay__title">{{ inquiryImg.title }}</h1>
                <div class="caption__overlay__content">{{ inquiryImg.summary }}</div>
            </div>
        </article>

      </div>
    </div>
  </div>
</div>

<!-- MAIN PAGE TABS -->
<div ng-if="isAuthenticated()" ng-cloak>
  <md-content>
    <md-tabs md-center-tabs md-dynamic-height md-border-bottom>
    <!-- Shop Tab -->
      <md-tab label="Shop">
        <shop></shop>
      </md-tab>
    <!-- Listing Tab -->
      <md-tab label="Listings">
        <my-listings></my-listings>
      </md-tab>
    <!-- Bid Tab -->
      <md-tab label="Bids">
        <bids></bids>
      </md-tab>
    <!-- Wishlist Tab -->
      <md-tab label="Wishlist">
        <wishlist></wishlist>
      </md-tab>
    <!-- New Item Tab -->
      <md-tab label="Add New Listing">
          <new-item></new-item>
      </md-tab>
    <!-- Edit Profile Tab -->
      <md-tab label="Profile">
          <my-profile></my-profile>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
